<div class="row">
 <div class="col-xs-2 col-sm-2"></div>
  <div class="col-xs-8 col-sm-8">
     <p>
      <img src="img/space.jpg" alt="I'm Yeoman" style="width:100%;height:200px">
    </p>
  </div>
  <div class="col-xs-2 col-sm-2"></div>
</div>

<div class="row">
  <div class="col-xs-2 col-sm-2"></div>
  <div class="col-xs-8 col-sm-8">
    <div class="jumbotron">
      <h1>
        Welcome Home!
      </h1>
      <p>
        This is a template for the Angular Playground. Future updates to the Angular Playground will contain the output of doodles and experimentation with a multitude of frameworks and more.
      </p>
    </div>
  </div>
  <div class="col-xs-2 col-sm-2"></div>
</div>

<div class="row">
  <div class="col-xs-2 col-sm-2"></div>
  <div class="col-xs-8 col-sm-8">
    <h1>
    [To Kill a Mocking Bird]
  </h1>
  <p>
    Atticus was feeble: he was nearly fifty. When Jem and I asked him why he was so old, he said he got started late, which we felt reflected upon his abilities and manliness. He was much older than the parents of our school contemporaries, and there was nothing Jem or I could say about him when our classmates said, “My father—”
  </p>
  <p>
    Jem was football crazy. Atticus was never too tired to play keep-away, but when Jem wanted to tackle him Atticus would say, “I’m too old for that, son.” Our father didn’t do anything. He worked in an office, not in a drugstore. Atticus did not drive a dump-truck for the county, he was not the sheriff, he did not farm, work in a garage, or do anything that could possibly arouse the admiration of anyone.
  </p>
    Besides that, he wore glasses. He was nearly blind in his left eye, and said left eyes were the tribal curse of the Finches. Whenever he wanted to see something well, he turned his head and looked from his right eye.
  <p>
    He did not do the things our schoolmates’ fathers did: he never went hunting, he did not play poker or fish or drink or smoke. He sat in the livingroom and read. With these attributes, however, he would not remain as inconspicuous as we wished him to: that year, the school buzzed with talk about him defending Tom Robinson, none of which was complimentary.
  </p>
  </div>
  <div class="col-xs-2 col-sm-2"></div>
</div>